.cartContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  .cartContent__header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    .headerItems__logo {
      display: flex;
      align-items: center;
      box-shadow: 0 0 20px 10px black;
      border-radius: 10px;
      transition: 0.3s;
      width: auto;
      height: 100px;
      min-height: 50px;
      &:hover {
        scale: 1.02;
        cursor: pointer;
        box-shadow: 0 0 15px 10px rgb(26, 26, 26);
      }
      .logo__img {
        background-image: url("../../../../public/img/logo.png");
        background-size: cover;
        width: 100px;
        height: 90px;
        min-width: 50px;
        min-height: 40px;
        margin-right: 20px;
      }
      p {
        font-size: 12.5em;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        color: rgb(250, 250, 250);
        margin-right: 10px;
      }
    }
    .header__cartLogo {
      display: flex;
      align-items: center;
      box-shadow: 0 0 20px 10px black;
      border-radius: 10px;
      width: auto;
      height: 100px;
      min-height: 50px;
      padding: 0 10px;
      p {
        font-size: 12.5em;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        color: rgb(250, 250, 250);
        margin-right: 10px;
      }
      .cartLogo__img {
        background-image: url("../../../../public/img/cart-logo.png");
        background-size: cover;
        width: 100px;
        height: 90px;
        min-width: 50px;
        min-height: 40px;
        margin-left: 20px;
      }
    }
  }
  .cartContent__descrip {
    width: 100%;
    height: 80px;
    background: linear-gradient(grey, black, grey);
    font-size: 9em;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .cartContent__cartItems {
    display: flex;
    flex-direction: column;
    .cartItems__item {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 0 20px 10px black;
      border-radius: 20px;
      margin: 15px 0;
      .descripPart {
        margin: 0 20px;
        display: flex;
        align-items: center;
        .descripPart__img {
          border: 2px solid black;
          width: 200px;
          height: 140px;
          border-radius: 10px 0 0 10px;
        }
        span {
          font-size: 5em;
          font-weight: 700;
          font-family: "Montserrat", sans-serif;
          color: white;
          margin: 0 15px;
        }
        button {
          width: 100px;
          height: 25px;
          background-color: rgb(187, 97, 97);
          border: 2px solid rgb(80, 65, 36);
          border-radius: 12px;
          cursor: pointer;
          &:hover {
            border: 2px solid grey;
          }
          &:active {
            scale: 0.9;
          }
        }
      }
      .item__descrip {
        display: flex;
        flex-direction: column;
        .descrip__text {
          width: calc(110%);
          height: 70px;
          border: 2px solid black;
          background-color: grey;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 5em;
          font-weight: 700;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }
  .createOrder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    min-height: 60px;
    .createOrder__btn {
      background: linear-gradient(white, black, white);
      color: white;
      font-size: 5em;
      font-family: "Montserrat", sans-serif;
      border-radius: 25px;
      width: 200px;
      height: 50px;
      &:hover {
        box-shadow: 0 0 10px 5px grey;
      }
      &:active {
        scale: 0.9;
        color: black;
      }
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 568px) {
  .cartContent {
    .cartContent__header {
      .headerItems__logo {
        width: 155px;
        height: 65px;
        display: flex;
        justify-content: center;
        .logo__img {
          width: 15px;
          height: 15px;
          margin-left: 5px;
          margin-right: 5px;
        }
        p {
          font-size: 5em;
          margin: 0;
        }
      }
      .header__cartLogo {
        width: 140px;
        height: 45px;
        box-shadow: none;
        flex-direction: column-reverse;
        margin-top: 15px;
        margin-left: 50px;

        p {
          font-size: 5em;
        }
        .cartLogo__img {
          width: 40px;
          height: 45px;
          margin: 0;
        }
      }
    }
    .cartContent__descrip {
      font-size: 8em;
    }
    .cartContent__cartItems {
      .cartItems__item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .descripPart {
          margin-top: 7px;
          .descripPart__img {
            width: 150px;
            height: 100px;
          }
          .item__descrip {
            .descrip__text {
              width: 100px;
              height: 50px;
              font-size: 3em;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
