.cartContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  .cartContent__header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    .headerItems__logo {
      display: flex;
      align-items: center;
      box-shadow: 0 0 20px 10px black;
      border-radius: 10px;
      transition: 0.3s;
      width: auto;
      height: 100px;
      min-height: 50px;
      &:hover {
        scale: 1.02;
        cursor: pointer;
        box-shadow: 0 0 15px 10px rgb(26, 26, 26);
      }
      .logo__img {
        background-image: url("../../../../public/img/logo.png");
        background-size: cover;
        width: 100px;
        height: 90px;
        min-width: 50px;
        min-height: 40px;
        margin-right: 20px;
      }
      p {
        font-size: 12.5em;
        font-weight: 700;
        font-family: "Montserrat", sans-serif;
        color: rgb(250, 250, 250);
        margin-right: 10px;
      }
    }
    .header__cartLogo{
        display: flex;
        align-items: center;
        box-shadow: 0 0 20px 10px black;
        border-radius: 10px;
        width: auto;
        height: 100px;
        min-height: 50px;
        padding: 0 10px;
        p{
            font-size: 12.5em;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
            color: rgb(250, 250, 250);
            margin-right: 10px;  
        }
        .cartLogo__img{
            background-image: url("../../../../public/img/cart-logo.png");
            background-size: cover;
            width: 100px;
            height: 90px;
            min-width: 50px;
            min-height: 40px;
            margin-left: 20px;
        }
    }
  }
  .cartContent__descrip{
    width: 100%;
    height: 80px;
    background: linear-gradient(grey,black,grey);
    font-size: 9em;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  .cartContent__cartItems{
    display: flex;
    flex-direction: column;
    .cartItems__item{
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0 20px 10px black;
        border-radius: 20px;
        margin: 15px 0;
        .descripPart{
            margin: 0 20px ;
            display: flex;
            align-items: center;
            .descripPart__img{
              border: 2px solid black;
              width: 200px;
              height: 140px;
              border-radius: 10px 0 0 10px ;
            }
            span{
                font-size: 5em;
                font-weight: 700;
                font-family: "Montserrat", sans-serif;
                color: white;
                margin: 0 15px;
            }
            button{
                width: 100px;
                height: 25px;
                background-color: rgb(187, 97, 97);
                border:2px solid rgb(80, 65, 36);
                border-radius: 12px;
                cursor: pointer;
                &:hover{
                    border:2px solid grey;
                }
                &:active{
                    scale: 0.9;
                }
            }
        }
        .item__descrip{
            display: flex;
            flex-direction: column;
            .descrip__text{
                width: calc(110%);
                height: 70px;
                border: 2px solid black;
                background-color: grey;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5em;
                font-weight: 700;
                font-family: "Montserrat", sans-serif;

            }
        }
    }
  }
}
