.card {
  width: 450px;
  height: 350px;
  margin: 10px;
  border-radius: 30px;
  transition: 1.5s;
  overflow: hidden;
  border: 2px solid black;
  position: relative;
  background: linear-gradient(black, gray, black);
  display: flex;
  flex-direction: column;

  button {
    position: absolute;
    left: -3px;
    top: -3px;
    width: 64px;
    height: 64px;
    background-color: transparent;
    background-image: url("../../../public/img/wheel.png");
    background-size: 65px 65px;
    background-position: center;
    transition: 1.5s;
    border-radius: 30px;
    border: 0;

    &:hover {
      cursor: pointer;
    }
    &:focus {
      animation: openClose 1s ease-in-out;
    }
  }
  @keyframes openClose {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
  .card__filling {
    display: flex;
    img {
      min-width: 300px;
      width: 370px;
      height: 220px;
      min-height: 200px;
      border-radius: 30px 0 0 0;
      border-bottom: 2px solid rgb(49, 46, 46);
    }
    .card__filling__shotDescrip {
      display: flex;
      flex-direction: column;
      border-radius: 0 30px 0 0;
      .shotDescrip__text {
        font-family: "Montserrat", sans-serif;
        font-size: 5em;
        border-left: 2px solid rgb(49, 46, 46);
        border-bottom: 2px solid rgb(49, 46, 46);
        color: white;
        width: 80px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .card__functional {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 5em;
    img{
      width: 30px;
      border-radius: 15px;
      &:hover{
        cursor: pointer;
        scale: 1.05;
      }
    }
    .functional__chooseType {
      width: 100px;
      height: 30px;
      background: linear-gradient(white, black);
      box-shadow: 0 0 15px 7px black;
      border: 2px solid black;
      border-radius: 15px;
      margin: 10px;
      text-align: center;
      cursor: pointer;
      &:hover {
        border: grey;
      }
    }
    p {
      color: white;
      font-family: "Montserrat", sans-serif;
    }
  }
  .card__descrption{
    display: flex;
    flex-direction: column;
    font-size: 4em;
    color: white;
    margin: 10px 20px;
    position: relative;
    .descrptionText{
      display: flex;
      justify-content: space-between;
    }
  }
}
.activeType {
  background: linear-gradient(black, white) !important;
}
