.content {
  position: relative;
  //border: 1px solid blue;
  height: auto;
  min-height: 500px;
  .content__filter {
    width: 100%;
    height: 205px;
    box-shadow: 0 5px 20px 5px black;
    display: flex;
    flex-direction: column;
    font-size: 6em;
    color: white;
    font-family: "Montserrat", sans-serif;
    border-radius: 0 0 25px 25px;
    .filter__filterHead {
      font-family: "Montserrat", sans-serif;
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      background: linear-gradient(grey, black, grey);
    }
    .filter__filterItems {
      display: flex;
      width: auto;
      height: 155px;
      .filterItems__drives {
        width: 50%;
        background-size: 800px 400px;
        background-position: center;
        background-position-y: -200px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: black;
        }
        p {
          margin:0 20px;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }
  .content__selectCards {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    height: 50px;
    margin: 20px 0;
    border-radius: 15px;
    background: linear-gradient(grey, black, grey);
    display: flex;
    align-items: center;
    img {
      margin: 0 10px;
    }
  }
  .content__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.anim {
  transition: 1s;
  width: 62px;
  height: 62px;
}

.activeFilter {
  border: 3px double black;
  scale: 0.9999;
}
